root = true # 顶层配置文件，不会再有更高一级的配置文件

[*] # 对所有文件生效
indent_style = space # 缩进使用空格
indent_size = 4 # 缩进大小为 2
end_of_line = lf # 换行符使用 LF
charset = utf-8 # 字符集使用 utf-8
trim_trailing_whitespace = true # 删除行尾的空白字符
insert_final_newline = true # 文件末尾插入一个空行

[{**.json,**.yml,**.yaml}]
indent_size = 2
